.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul {
  list-style-type: none;
  font-size: 20px;
  padding-top: 15px;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  font-size: 25px;
  font-weight: lighter;
}

#link {
  display: inline-block;
  color:  rgb(143, 44, 90);
  text-decoration: none;
  text-align:left;
}

#link:hover {
  color: rgb(143, 44, 90);
  opacity: 0.7;
}

#logo {
  color:  rgb(143, 44, 90);
  font-size: 40px;
  margin-left: 0px;
}

h1 {
  display: run-in;
  vertical-align: middle;
  color:  rgb(143, 44, 90);
  font-weight: normal;
}

#brand {
  text-align: center;
  padding: 20px;
  border-color: #bdbbbb;
  border-width: 1px;
  border-top-style: ridge;
  border-bottom-style: ridge;
}

p {
  color:  rgb(143, 44, 90);
}

#inputField {
  display: flex;
  justify-content: center;
  border-bottom-color: #bdbbbb;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
  padding: 20px;
}

#searchInput {
  width: 500px;
  background-color: none;
  border-radius: 2px;
  border-width: 1px;
}

.thumbnail {
  min-width: 140px;
  margin: 5px;
}

#bookImg {
  margin: 10px;
}

#bookInfo {
  margin: 10px;
}

#viewButton {
  margin-right: 5px;
  margin-top: 5px;
  background-color:  rgb(245, 199, 221);
  color: #222;
  border: none;
}

#saveDeleteButton {
  margin-right: 5px;
  margin-top: 5px;
  background-color: gray;
  color: white;
  border: none;
}

#book {
  border-bottom-style: ridge;
  border-width: 1px;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  border-width: 1px;
  border-top: ridge;
}
